<div class="allusers">
  <table>
    <thead>
    <tr>
      <th>Логин</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Email</th>
      <th>Дата рождения</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |f| %>
    <% if current_user.email == f.email %>
        <tr>
          <td><strong><%= f.login %></strong></td>
          <td><strong><%= f.last_name %></strong></td>
          <td><strong><%= f.name %></strong></td>
          <td><strong><%= f.father_name %></strong></td>
          <td><strong><%= f.email %></strong></td>
          <td><strong><%= f.date_birth %></strong></td>
        </tr>
    <% else %>
            <tr>
              <td><%= f.login %></td>
              <td><%= f.last_name %></td>
              <td><%= f.name %></td>
              <td><%= f.father_name %></td>
              <td><%= f.email %></td>
              <td><%= f.date_birth %></td>
            </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
</div>
